:root {
  --iris: #4d5ae5;
  --white: #ffff;
  --cloud: #f4f4fd;
  --navyblue: #2e2f42;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
}

body {
  color: var(--slate);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.main-link {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.current-page {
  color: var(--iris);
}
.header-link {
  font-weight: 500;
}

.link:hover,
.link:focus {
  color: var(--iris);
}

.link:active {
  color: var(--ocean);
}

.hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
}

.section-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.button-order {
  background: var(--iris);
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  border: none;
  border-radius: 4px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.button-order:hover,
.button-order:focus {
  background: var(--ocean);
}

.title-item {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.team {
  background: var(--cloud);
}

.team-item {
  background: var(--white);
}

.buttons-port {
  color: var(--iris);
  background: var(--cloud);
  border: 1px solid var(--cornflower);
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
}

.buttons-port:hover,
.buttons-port:focus,
.current-filter {
  color: var(--white);
  background: var(--ocean);
  border-color: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.footer {
  background: var(--navyblue);
}

.footer-item-text {
  color: var(--cloud);
}
