:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

body {
  color: var(--slate);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* line-height: 1.5; 150% */
  letter-spacing: 0.32px;
}

/* remove bullets */
.list {
  list-style: none;
  padding: 0;
}

/* remove underline */
.link {
  text-decoration: none;
  color: inherit;
}

.header-link {
  font-weight: 500;
}

.header-logo,
.footer-logo {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  /* line-height: 1.16; 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.studio-header {
  color: var(--navyblue);
}

.studio-footer {
  color: var(--cloud);
}

.current-page {
  color: var(--iris);
}

.link:hover,
.link:focus {
  color: var(--iris);
}

.link:active {
  color: var(--ocean);
}

.section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  /* line-height: 1.11; 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.container {
  width: 1158;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* header start______________________ */

.header {
  border-bottom: 1px solid var(--cornflower);
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin-right: 76px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.contacts-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

/* header ________________________ */

/* hero start______________________ */

.container-hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  /* line-height: 1.07; 107.143% */
  letter-spacing: 1.12px;
}

.hero-button {
  background: var(--iris);
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* line-height: 1.5; 150% */
  letter-spacing: 0.64px;
  border: none;
  cursor: pointer;
}

.button {
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--ocean);
}

/* hero end________________________ */

.title-item {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-top: 32px;
  margin-bottom: 8px;
}

p {
  margin-bottom: 32px;
}

.team {
  background: var(--cloud);
}

.team-item {
  background: var(--white);
}

.footer {
  background: var(--navyblue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-item-text {
  color: var(--cloud);
  margin-top: 17.5px;
}

/* portfolio */
.buttons-port {
  color: var(--iris);
  background: var(--cloud);
  border: 1px solid var(--cornflower);
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
}

/* portfolio */
.buttons-port:hover,
.buttons-port:focus,
.current-filter {
  color: var(--white);
  background: var(--ocean);
  border-color: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
